*~
.~*
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/logs/
/examples/
/classes/
/target/
/checkouts/
/test/dbs/
.nrepl-port
.cpcache/
.claude/scheduled_tasks.lock
.claude/plans
.clj-kondo/inline-configs
.clj-kondo/.cache
.clj-kondo/.lock
.clj-kondo/babashka
.clj-kondo/com.fulcrologic
.clj-kondo/cnuernber
.clj-kondo/com.wsscode
.clj-kondo/funcool
.clj-kondo/imports
.clj-kondo/lilactown
.clj-kondo/metosin
.clj-kondo/mount
.clj-kondo/prismatic
.clj-kondo/rewrite-clj
.clj-kondo/taoensso
.lsp/.cache
resources/js
public/js
js
clj
node_modules/
.shadow-cljs/
.clojure-mcp/
node_modules/
resources/public/js/
data/checkpoints/
data/onto/misc/
docs/plan-*
data/MEP/
docs/references/
ProductionSchedulingProjects/
.DS_Store

opt/
